body.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.dark-theme::-webkit-scrollbar {
  width: 5px; 
  height: 10px;
}


.dark-theme::-webkit-scrollbar-thumb {
  background-color: var(--light-text);
  border-radius: 5px; 
}

.dark-theme::-webkit-scrollbar-track {
  background-color:  var(--dark-bg); 
}

.dark-theme i {
  color: white;
}

.dark-theme .btn-encode,
.dark-theme .btn-copy {
  background-color: var(--dark-btns);
  border-radius: 100px;
  padding: 10px 25px;
}

.dark-theme .btn-encode:hover,
.dark-theme .btn-copy:hover {
  background-color: #ce730b;
}

.dark-theme textarea {
  color: #fcfcfc;
}

.dark-theme .footer-social-icons a i:hover {
  color: var(--dark-btns);
  transition: all 0.3s ease-in-out;
}


