:root {
  /* Dark Theme */
  --dark-bg: #13171c;
  --dark-text: #f6f6f6;
  --dark-svg-color: #254d65;
  --dark-btns: #ed9b40;

  /* Light Theme */
  --light-bg: #b6cbe5;
  --light-text: #1a2d45;
  --light-svg-color: #e0e0e0;
  --light-btns: #1a2d45;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  text-align: center;
  text-shadow: -2px 3px 2px hsla(0, 0%, 0%, 0.25);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 1.7rem);
}

.title {
  margin: 5em 0;
}

.btn-theme {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 2vh;
  gap: 10px;
}

.btn-theme p {
  font-weight: 700;
  width: 60px;
  text-align: center;
  text-shadow: 0px 3px 4px hsla(0, 0%, 0%, 0.25);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc00;
  border: solid 3px #1a2d45;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: var(--light-text);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--light-text);
  border: solid 3px var(--dark-text);
}
input:checked + .slider:before {
  background-color: var(--dark-text);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-content: center;
  justify-items: center;
  align-items: stretch;
  width: 70%;
  margin: auto;
}

.container-input-area,
.container-output-area {
  background: linear-gradient(145deg, #ffffff2a, #ffffff48, #ffffff2a);
  backdrop-filter: blur(10px);
  border: solid 1px #fff;
  border-radius: 10px;
  width: 100%;
}

.input-area-content {
  padding: 1em;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: #f6f6f6;
  font-weight: 500;
  font-size: 1em;
}

.btn-copy i {
  color: #f6f6f6 !important;
  margin-right: 0.5vh;
}

.btn-encode, .btn-copy {
  background-color: var(--light-btns);
  border-radius: 100px;
  padding: 10px 25px;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.output-btn {
  justify-content: flex-end;
}

.btn-clear {
  position: absolute;
  right: 1vh;
  top: 1vh;
  font-size: 1.6em;
}

.btn-microphone {
  font-size: 1.3em;
}

.title-speak {
  display: flex;
  gap: 0.5vh;
}

textarea {
  width: 100%;
  height: 10vw;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  background: none;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: #1a2d45;
}

.input-info-message {
  display: flex;
  align-items: center;
  gap: 0.5vh;
  position: absolute;
  bottom: 5vh;
  opacity: 0.5;
}

.btn-hidden {
  display: none;
}

.output-empty-message {
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container {
    width: 85%;
  }
}
