:root {
  /* Dark Theme */
  --dark-bg: #13171c;
  --dark-text: #f6f6f6;
  --dark-svg-color: #254d65;
  --dark-btns: #e68619;

  /* Light Theme */
  --light-bg: #b6cbe5;
  --light-text: #1a2d45;
  --light-svg-color: #e0e0e0;
  --light-btns: #1a2d45;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  text-align: center;
  text-shadow: -2px 3px 2px hsla(0, 0%, 0%, 0.25);
}

h2 {
  font-size: clamp(0.5rem, 4vw, 1.7rem);
}

p {
  margin: auto;
}

.title {
  margin: 5em 0;
}

.btn-theme {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2vh;
  right: 2vh;
  gap: 10px;
}

.btn-theme p {
  font-weight: 700;
  width: 60px;
  text-align: center;
  text-shadow: 0px 3px 4px hsla(0, 0%, 0%, 0.25);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc00;
  border: solid 3px var(--light-text);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: var(--light-text);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--light-text);
  border: solid 3px var(--dark-text);
}
input:checked + .slider:before {
  background-color: var(--dark-text);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-content: center;
  justify-items: center;
  align-items: stretch;
  width: 70%;
  margin: 2rem auto;
}

.container-input-area,
.container-output-area {
  background: linear-gradient(145deg, #ffffff2a, #ffffff48, #ffffff2a);
  backdrop-filter: blur(10px);
  border: solid 1px #fff;
  border-radius: 10px;
  width: 100%;
}

.input-area-content {
  padding: 1em;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.btn-copy i {
  color: var(--dark-text) !important;
  margin-right: 0.5vh;
}

.btn-encode,
.btn-copy {
  background-color: var(--light-btns);
  border-radius: 100px;
  padding: 10px 25px;
  box-shadow: 0 2px 3px #3b3b3b56;
  text-shadow: 0 2px 3px #3b3b3b56;
}

.container-btn {
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap row;
  gap: 0.5rem;
  width: 100%;
}

.btn-clear {
  position: absolute;
  right: 1vh;
  top: 1vh;
  font-size: 1.6em;
}

.title-speak {
  display: flex;
  gap: 0.5vh;
}

textarea {
  width: 100%;
  height: 10vw;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  background: none;
  font-size: 1rem;
  margin-bottom: 1em;
}

.info-message {
  justify-content: space-between;
  padding: auto;
}

.info-message-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
}

.btn-hidden {
  display: none;
}

.output-empty-message {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  width: auto;
  text-align: center;
}

.output-empty-message img {
  width: 40%;
  filter: drop-shadow(-2px 3px 2px #00000056);
}

footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;

  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0000, #28486f40, #0000);
}

.footer-social-icons a {
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  h2,
  .btn {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 0.85rem;
  }
  .btn-theme {
    font-size: 0.85rem;
    gap: 0;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: var(--light-text);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .info-message-text {
    font-size: 0.7rem;
  }

  textarea {
    height: 20vw;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .container {
    width: 85%;
  }

  .output-empty-message {
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }

  .output-empty-message img {
    width: 30%;
  }

  footer {
    position: relative;
    width: auto;
    font-size: 0.85rem;
  }
}
